<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">

      <ul>
        <cmail-list-item
          *ngFor="let email of listaEmails.reverse()"
          [destinatario]="email.destinatario"
          [assunto]="email.assunto"
          [conteudo]="email.conteudo"
          [dataEnvio]="email.dataEnvio"
          (eventoVaiRemover)="handleRemoveEmail($event, email.id)"
        ></cmail-list-item>
      </ul>

      <div class="mdl-grid">
        <!-- Floating Multiline Textfield -->
        <button (click)="toggleNewEmail()"
          class="globalFab tooltip btn mdl-button mdl-js-button mdl-button--fab mdl-button--colored" role="tooltip"
          aria-label="Criar novo email">
          <span class="material-icons">add</span>
        </button>

        <form #formEmail="ngForm" (ngSubmit)="handleNewEmail(formEmail)" class="newEmail cmailForm"
          [ngClass]="{'newEmail--active': isNewEmailOpen}">
          <div class="newEmail__card demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="newEmail__titleArea mdl-card__title">
              <h2 class="newEmail__title mdl-card__title-text">Novo Email</h2>
            </div>
            <div class="newEmail__body mdl-card__supporting-text">
              <!-- Form Fields -->
              <!-- [Para] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label"
                  [ngClass]="{'is-invalid': destinatario.invalid && destinatario.touched}">
                  <input email #destinatario="ngModel" [(ngModel)]="email.destinatario" required type="email"
                    name="para" id="para" placeholder=" " class="mdl-textfield__input">
                  <span class="mdl-textfield__error">Informar um email é obrigatório!</span>
                  <label class="mdl-textfield__label" for="para">Para: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Para] -->

              <!-- [Assunto] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label"
                  [ngClass]="{'is-invalid': assunto.invalid && assunto.touched}">
                  <input #assunto="ngModel" [(ngModel)]="email.assunto" required type="text" name="assunto" id="assunto"
                    placeholder=" " class="mdl-textfield__input">
                  <span class="mdl-textfield__error">Informar um assunto é obrigatório!</span>
                  <label class="mdl-textfield__label" for="assunto">Assunto: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Assunto] -->

              <!-- [Conteúdo] -->
              <div class="cmailInputForm">
                <div class="mdl-textfield mdl-textfield--floating-label">
                  <textarea [(ngModel)]="email.conteudo" name="conteudo" id="conteudo" placeholder=" "
                    class="mdl-textfield__input"></textarea>
                  <span class="mdl-textfield__error">Informar um conteúdo é obrigatório!</span>
                  <label class="mdl-textfield__label" for="conteudo">Conteúdo: </label>
                  <span class="mdl-textfield__formline"></span>
                </div>
              </div><!-- ./[Conteúdo] -->

              <!-- ./Form Fields -->
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button class="mdl-button">
                Enviar
              </button>
            </div>
            <div class="newEmail__topMenu mdl-card__menu">
              <button (click)="toggleNewEmail()" type="button" class="mdl-button mdl-button--icon">
                <span class="material-icons">close</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </main>
</div>

