<!-- Email Item -->
<li class="emailList__item mdl-list__item mdl-list__item--three-line" tabindex="0">
  <span class="mdl-list__item-primary-content">
    <a class="emailList__itemLink">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{destinatario}}</span>
      <span class="emailList__itemText mdl-list__item-text-body">
        {{assunto}} : {{conteudo | slice:0:140}}
      </span>
    </a>
  </span>
  <span class="mdl-list__item-secondary-content">
    <a class="emailList__itemLink" tabindex="-1">
      <span class="emailList__itemDate">
        {{dataEnvio | date:'HH:mm dd/MM/yyyy'}}
      </span>
    </a>
  </span>

  <span class="emailList__itemMenu">
    <button (click)="removerEmail($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
      <i class="material-icons">delete</i>
    </button>
  </span>
</li><!-- ./Email Item -->
