<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">

      <p *ngIf="mensagem">
          {{ mensagem }}
      </p>

      <div class="mdl-grid">
        <form [formGroup]="formCadatro" (ngSubmit)="handleCadastro()">

          <cmail-form-group idCampo="nome" textoDaLabel="Nome" 
            [isInvalid]="nome.invalid && nome.touched"
          >
            <input 
            minlength="2" maxlength="255"
            formControlName="nome" required type="text" name="nome" cmailFormField>

              <span *ngIf="nome.getError('required')"
                class="mdl-textfield__error">Informar um nome é obrigatório!</span>

              <span *ngIf="nome.getError('minlength')"
                class="mdl-textfield__error">O nome deve conter no minimo {{ nome.getError('minlength').requiredLength }} caracteres!</span>

              <span *ngIf="nome.getError('maxlength')"
                class="mdl-textfield__error">O nome deve conter no máximo {{ nome.getError('maxlength').requiredLength }} caracteres!</span>

              <span *ngIf="nome.getError('pattern')"
                 class="mdl-textfield__error">Informar um nome com apenas letras!</span>

          </cmail-form-group>

          <cmail-form-group idCampo="username" textoDaLabel="Nome de usuário" 
            [isInvalid]="username.invalid && username.touched"
          >
            <input 
            minlength="10" maxlength="50"
            formControlName="username" required type="text" name="username" cmailFormField>
            
            <span *ngIf="username.getError('required')"
                class="mdl-textfield__error">Informar um nome de usuário é obrigatório!</span>

            <span *ngIf="username.getError('minlength')"
              class="mdl-textfield__error">O nome de usuário deve conter no minimo {{ username.getError('minlength').requiredLength }} caracteres!</span>

            <span *ngIf="username.getError('maxlength')"
              class="mdl-textfield__error">O nome de usuário deve conter no máximo {{ username.getError('maxlength').requiredLength }} caracteres!</span>
                
          </cmail-form-group>

          <cmail-form-group idCampo="password" textoDaLabel="Senha" 
            [isInvalid]="senha.invalid && senha.touched"
          >
            <input 
            minlength="6" maxlength="20"
            formControlName="senha" required type="password" name="senha" cmailFormField>
            
              <span *ngIf="senha.getError('required')"
              class="mdl-textfield__error">Informar uma senha é obrigatório!</span>

              <span *ngIf="senha.getError('minlength')"
                class="mdl-textfield__error">A senha deve conter no minimo {{ senha.getError('minlength').requiredLength }} caracteres!</span>

              <span *ngIf="senha.getError('maxlength')"
                class="mdl-textfield__error">A senha deve conter no máximo {{ senha.getError('maxlength').requiredLength }} caracteres!</span>

          </cmail-form-group>

          <cmail-form-group idCampo="telefone" textoDaLabel="Telefone" 
          [isInvalid]="telefone.invalid && telefone.touched">
            
            <input
            minlength="8" maxlength="9"
            formControlName="telefone" required type="text" name="telefone" cmailFormField>
            
            <span *ngIf="telefone.getError('pattern')"
            class="mdl-textfield__error">O telefone deve conter apenas números!</span>

            <span *ngIf="telefone.getError('required')"
              class="mdl-textfield__error">Informar um telefone é obrigatório!</span>

            <span *ngIf="telefone.getError('minlength')"
              class="mdl-textfield__error">O telefone deve conter no minimo {{ telefone.getError('minlength').requiredLength }} caracteres!</span>

            <span *ngIf="telefone.getError('maxlength')"
              class="mdl-textfield__error">O telefone deve conter no máximo {{ telefone.getError('maxlength').requiredLength }} caracteres!</span>


          </cmail-form-group>

          <cmail-form-group idCampo="avatar" textoDaLabel="Foto" 
          [isInvalid]="avatar.invalid && avatar.touched">
            <input formControlName="avatar" required type="text" name="avatar" cmailFormField>
            <span *ngIf="avatar.getError('required')"
              class="mdl-textfield__error">Informar uma foto é obrigatório!</span>

              <span *ngIf="avatar.status == 'PENDING'"
              class="mdl-textfield__error mdl-textfield__checking">Verificando...</span>

              <span *ngIf="avatar.status == 'VALID'"
              class="mdl-textfield__error mdl-textfield__valid">Imagem válida!</span>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>
