<div class="mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="page-content">
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
      </header>

      <form [formGroup]="formLogin" (ngSubmit)="handleLogin()" autocomplete="off" class="mdl-card__supporting-text" > 

        <!-- aqui os campos do formulário -->

        {{ mensagem }}
        
        <!-- E-mail -->
        <cmail-form-group idCampo="email" textoDaLabel="E-mail" 
            [isInvalid]="email.invalid && email.touched"
          >
            <input 
            formControlName="email" required type="email" name="email" cmailFormField>

              <span *ngIf="email.getError('required')"
                class="mdl-textfield__error">Informar um nome é obrigatório!</span>

          </cmail-form-group>

        <!-- Senha -->
        <cmail-form-group idCampo="senha" textoDaLabel="Senha" 
          [isInvalid]="senha.invalid && senha.touched"
        >
          <input 
          formControlName="senha" required type="password" name="senha" cmailFormField>

            <span *ngIf="senha.getError('required')"
              class="mdl-textfield__error">Informar um nome é obrigatório!</span>

        </cmail-form-group>

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
